<div class="video-chat-wrapper">
    ﻿<video id="livestream" class="video-js vjs-default-skin vjs-big-play-centered"
            controls autoplay preload="auto" width="600" height="300"
            data-setup='{"techorder" : ["flash"] }'>
        <source src="rtmp://94.156.157.104:1935/live/test" type="rtmp/mp4">
    </video>

    <div class="" id="chatbox">

        <!--<input type="hidden" id="displayname" />-->
        <ul id="discussion"></ul>
        <div class="send-line">
            <input type="text" id="message"  onkeypress="if (event.keyCode == 13) { document.getElementById('sendmessage').click(); return false; }"/>
            <input type="button" id="sendmessage" value="Send" />
        </div>
    </div>

    <input type="hidden" id="userneim" value="@this.User.Identity.Name" />
</div>


@section Scripts{ 
    <link href="http://vjs.zencdn.net/6.6.3/video-js.css" rel="stylesheet">
    <script src="http://vjs.zencdn.net/6.6.3/video.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/videojs-flash@2/dist/videojs-flash.min.js"></script>
    <script type="text/javascript" src="/js/signalr.js"></script>
    <script type="text/javascript" src="/js/live.js"></script>
}