#logo {
    font-family: 'Fredoka One', cursive;
    text-align: center;
    font-size: 55px;
    margin-bottom: 10px;
    color: rgb(101,175,214);
}

.navbar-header {
    text-align: center;
}
.container {
    text-align: center;
    color: black;
    display: inline;
    margin-left: 30px;
    margin-right: 30px;
}

#navbarback {
    background-color: rgb(100,104,214);
    width: 100vw;
    height: 50px;}
    #sidebar {
      float: right;
      width: 400px;
      height: 600px;
      margin-right: 10px;
      margin-top: 15px;
    }
    #streamimage {
      width: 100%;
      height: auto;
      max-width: 100%;;
    }
#logo {
    height:50px;
}
    .forumcontent {
      padding: 10px;
    }
    .forumcontent:nth-child(2n) {
        background-color: rgb(245, 247, 248);
    }
    .threadtitle {
      font-family: 'Comfortaa', cursive;
      font-size: 15px;
      font-weight: bold;
    }
  #forumNewest {
    margin-top: 10px;
    border-style: solid;
    border-width: 7px 0px 0px 0px;
    border-color: rgb(100,104,214);
  }

  a { color: inherit;
    text-decoration: none; }
  #navbardiv{
    text-align: center;
    }

.navbar-nav {
    display: flex;
    height: 100%;
    align-content: center;
    align-items: center;
    float: none !important;
}

.navbar-collapse.collapse a {
    text-align: center;
    color: white;
    display: inline;
    font-size: 15px;
    margin-left: 30px;
    margin-right: 30px;
}

.navbar-collapse.collapse {
    display: flex !important;
    flex-direction: row;
    align-items: center;
}

.log-in-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btns {
    background-color: #9975F7;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
input {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.butresults {
    background-color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border-radius: 4px;
    border-style: solid;
    border-width: 0px 0px 0px 6px;
    border-color: #9975F7;
    cursor: pointer;
    width: 85%;
    font-size: 30px;
    font-family: 'PT Mono', monospace;
    text-align: left;
}
    .butresults:hover {
        color: #3b1a91;
    }
        .butresults:hover #resicon {
            color: black;
        }
#forumpostback {
    background: linear-gradient( rgba(35, 115, 171, 0.21), rgba(35, 115, 171, 0.21) ), url(/images/green-chameleon-176136-unsplash.jpg);
    background-size: cover;
    
}
#library {
    background: rgba(197, 175, 255, 0.2);
    background-size: auto;
}
#resourceslink {
    text-decoration: none;
}
.resicon {
    margin-right: 10px;
}
#resheading, #resub, #reslab {
    font-family: 'PT Mono', monospace;
    font-weight: bold;
    color: #0f032d;
}
#resheading{
    font-size: 35px;
}
#reslab {
    font-size: 33px;
}
#backbut {
    background-color: #d63939;
    font-family: 'PT Mono', monospace;
    font-weight: bold;
}
.butforum {
    background-color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border-radius: 4px;
    border-style: solid;
    border-width: 0px 0px 0px 6px;
    border-color: #67efaf;
    cursor: pointer;
    width: 50%;
    font-size: 24px;
    font-family: Roboto;
    text-align: left;
}
.ar {
    display: flex;
    flex-direction: column;
    list-style: none;
}
.fileresults {
    background-color: white;
    padding: 14px 20px;
    margin: 8px;
    border-radius: 4px;
    border-style: solid;
    border-width: 0px 0px 0px 6px;
    border-color: #75a0f7;
    cursor: pointer;
    width: 85%;
    font-size: 24px;
    font-family: 'PT Mono', monospace;
    text-align: left;
}
#forumcontent {
    font-family: 'Open Sans', sans-serif;
    font-size:24px;
}
#forumtitle {
    font-family: 'PT Mono', monospace;
}
#threadpostbut {
    background-color: #6fc698;
    font-size: 25px;
    font-weight: bold;
    font-family: Roboto;
    float: right;
    margin-right: 30px;
}
#forumlogo {
    text-align: center;
}

.daform {
    width: 500px;
    font-family: 'PT Mono', monospace;
    font-size: 19px;
}
.final {
    background-color: #6468D6;
    font-size: 20px;
}
.butsec {
    font-size: 16px;
    font-family: 'PT Mono', monospace;
}
#msg {
    display: inline;

}

#discussion {
    font-family: 'Open Sans', sans-serif;
    font-size: 19px;
    text-align: left;
    border-style: solid;
    border-width: 10px;

    width: 700px;
    height: 800px;
    overflow: hidden;
    padding: 10px;
    position: relative;
}
    #discussion:hover {
        overflow-y: scroll;
    }

#chatbox {
    position: relative;
}