@{ViewData["Title"] = "Home Page"; }

@model PostsListAndResourcesViewModel

    <div id="sidebar">
        <a asp-area="broadcast" asp-controller="live" asp-action="watch"><img src="~/images/buttonbeta.png" id="streamimage"></a>
            <div id="forumNewest">
                <div class="forumcontent"><p class="threadtitle">C# блабла</p></div>
                <div class="forumcontent"><p class="threadtitle">HTML и CSS не правят контакт</p></div>
                <div class="forumcontent"><p class="threadtitle">Блабла</p></div>
                <div class="forumcontent"><p class="threadtitle">fedw</p></div>
            </div>

            <div>
                @foreach (var post in Model.posts) { 
                    <a>@post.Author.UserName : @post.Name</a>
                    <br>
                }
            </div>
            <div>
                @foreach (var resource in Model.resources) { 
                    <a href="">@resource.Author.UserName : @resource.Name</a>
                    <br>
                }
            </div>
</div>

