@{
    ViewData["Title"] = "Home Page";
}

    <div id="sidebar">
        <a asp-area="broadcast" asp-controller="live" asp-action="watch"><img src="~/images/buttonbeta.png" id="streamimage"></a>
            <div id="forumNewest">
                <div class="forumcontent"><p class="threadtitle">C# блабла</p></div>
                <div class="forumcontent"><p class="threadtitle">HTML и CSS не правят контакт</p></div>
                <div class="forumcontent"><p class="threadtitle">Блабла</p></div>
                <div class="forumcontent"><p class="threadtitle">fedw</p></div>
            </div>

            <div>
                
            </div>
</div>

