@{
    ViewData["Title"] = "Home Page";
}


   
    
    <!--<div id="navbarback">
         <nav id="navbardiv">
            <span><a href="http://google.com"><p class="navb">Начало</p></a></span>
            <span><a href="http://google.com"><p class="navb">Ресурси</p></a></span>
            <span><a href="http://google.com"><p class="navb">Форум</p></a></span>
            <span><a href="http://google.com"><p class="navb">Регистрация</p></a></span>
            <span><a href="http://google.com"><p class="navb">Login</p></a></span>
        </nav> 
    </div>-->
    <div id="sidebar">
        <img src="~/images/buttonbeta.png" id="streamimage">
        <div id="forumNewest">
            <div class="forumcontent"><p class="threadtitle">C# блабла</p></div>
            <div class="forumcontent"><p class="threadtitle">HTML и CSS не правят контакт</p></div>
            <div class="forumcontent"><p class="threadtitle">Блабла</p></div>
            <div class="forumcontent"><p class="threadtitle">fedw</p></div>
        </div>
    </div>

