@{ViewData["Title"] = "Home Page"; }

<<<<<<< HEAD
@model PostsListAndResourcesViewModel

=======
    <div class="coolpic" id="homepic"></div>
    <div id="sidebar">
        <p class="anotext">Stream</p>
        <a asp-area="broadcast" asp-controller="live" asp-action="watch"><img src="~/images/buttonbeta.png" id="streamimage"></a>
        <p class="anotext">Latest from forum:</p>

        <!--<div id="forumNewest">
        <div class="forumcontent"><p class="threadtitle">C# блабла</p></div>
        <div class="forumcontent"><p class="threadtitle">HTML и CSS не правят контакт</p></div>
        <div class="forumcontent"><p class="threadtitle">Блабла</p></div>
        <div class="forumcontent"><p class="threadtitle">fedw</p></div>
        </div>-->

        <div>
            @foreach (var post in Model.posts)
            {
                <div class="forumcontent"><a class="threadtitle">@post.Author.UserName : @post.Name</a></div>
            }
        </div>
        <div>
            @foreach (var resource in Model.resources)
        {
            <a href="">@resource.Author.UserName : @resource.Name</a>
            <br>
    }
        </div>

    </div>


