@using GoodGuysCommunity.Web.Areas.Forum.Models
@model PostDetailsViewModel

<form action="" method="post">
    Add comment: <textarea name="Content"></textarea>
    <input type="hidden" name="Username" value="@this.User.Identity.Name"/>
    
    <input type="submit" name="Submit" value="Submit" />
</form>