@model PostDetailsViewModel
<div style="width: 100%; height: 100%;" id="forumpostback">
<form action="" method="post">
    <input type="text" name="Name" value="" placeholder="Name" />
        <br />
    <textarea name="Content" placeholder="Content"></textarea>
        <br />
    <input type="Submit" name="Submit" value="Submit"  />
    <br />

</form>
</div>