@model PostDetailsViewModel
<div style="width: 100vw; height: 100vh;" id="forumpostback">
<form action="" method="post" id="forumf">
    <input type="text" name="Name" value="" placeholder="Name" class="form-control forumform" />
        <br />
    <textarea name="Content" placeholder="Content" class="forumsubmit"></textarea>
        <br />
    <input type="Submit" name="Submit" value="Submit" />
    <br />

</form>
</div>