@using GoodGuysCommunity.Web.Areas.Forum.Models;
@model PostDetailsViewModel

<div style="width: 100%; height: 100%;" id="forumpostback">
<form action="" method="post">
    Name: <input type="text" name="Name" value="" />
        <br />
    Content: <textarea name="Content"></textarea>
        <br />
    <input type="Submit" name="Submit" value="Submit" />
    <br />

</form>
</div>