@using GoodGuysCommunity.Web.Areas.Forum.Models;
@model PostDetailsViewModel

<h1>@Model.Name</h1>
<br />
<h2>@Model.Content</h2>
<br />
<div>

</div>
<a href="/forum/comments/index">Add a comment</a>