@model PostDetailsViewModel

<h1 id="forumtitle">@Model.Name</h1>
<br />
<p id="forumcontent">@Model.Content</p>
<br />

<div>
    @foreach (var comment in Model.Comments) {
        <div>@comment.Content</div>
     }
</div>
<center><a href="/forum/comments/index/@Model"><button class="btns">Comment!</button></a></center>