@model PostDetailsViewModel

<h1>@Model.Name</h1>
<br />
<h2>@Model.Content</h2>
<br />

<div>
    @foreach (var comment in Model.Comments) {
        <div>@comment.Content</div>
     }
</div>
<a href="/forum/comments/index/@Model">Add a comment</a>