@using GoodGuysCommunity.Web.Areas.Forum.Models;
@model IEnumerable<PostDetailsViewModel>

<a href="/forum/posts/createpost"><button type="button" class="btns" style="background-color: lightgreen;">Post a thread</button></a>

<ul>
    @foreach (var post in Model)
    {
        <li>@post.Name <a href="/forum/posts/details/@post.Id">Details</a></li>
    }

</ul>