<<<<<<< HEAD
﻿@using GoodGuysCommunity.Web.Areas.Forum.Models
@model IEnumerable<PostDetailsViewModel>

<a href="/forum/posts/createpost"><button type="button" class="btns" style="background-color: lightgreen;">Post a thread</button></a>
=======
﻿@using GoodGuysCommunity.Web.Areas.Forum.Models;
@model IEnumerable<PostDetailsViewModel>
    <h1 id="forumlogo">Forum</h1>
<a href="/forum/posts/createpost"><button type="button" class="btns" id="threadpostbut">Post a thread</button></a>
>>>>>>> ff64a13117b1632989faf37df1efb9477b2245a5

<ul class="ar">
    @foreach (var post in Model)
    {
        <li><a href="/forum/posts/details/@post.Id" id="threadlink"><button class="butforum"><i class="fas fa-paper-plane resicon"></i>@post.Name </button></a></li>
    }
</ul>