@using GoodGuysCommunity.Web.Areas.Forum.Models;
@model IEnumerable<PostDetailsViewModel>

<a href="/forum/posts/createpost">Make a post!!!</a>

<ul>
    @foreach (var post in Model)
    {
        <li>@post.Name <a href="/forum/posts/details/@post.Id">Details</a></li>
    }
</ul>