@using GoodGuysCommunity.Web.Areas.Forum.Models;
@model PostListViewModel

<form action="" method="post">
    Name: <input type="text" name="Name" value="" />
          <br />
    Content: <textarea name="Content"></textarea>
             <br />
    <input type="Submit" name="Submit" value="Submitss" />
    <br />

</form>